
  p {
    margin: 0 auto;
    max-width: 650px;
  }
  
  p + p {
    margin-top: 15px;
  }
  
  form {
    text-align: left;
  }
  
  input, textarea {
    width: 100%;
    max-width: 500px;
    margin-right: 10px;
  }
  
  input[type="number"] {
    width: 50px;
  }
  
  label {
    display: block;
  }
  
  .form-section {
    margin-bottom: 30px;
  }
  