
  section {
    min-height: 200px;
    padding: 30px 15px;
    background-color: #00BFE0;
  }
  
  .recipe-name-link:hover {
    color: #7BC25C;
  }

  .recipe-name, .recipe-name-link {
    border: 3px solid #7BC25C;
    border-radius: 8px;

  }