

  .groceryList-items {
      display: block;
  }
  
  nav,
  footer {
    padding: 1% 0;
    background-color: #aaa;
  }
  
  nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }
  
  .list-name:hover {
    color: #7BC25C;
  }
  /*.list-section {
    min-height: 200px;
    padding: 30px 15px;
  }*/
  
  
  p {
    margin: 0 auto;
    max-width: 650px;
  }
  
  p + p {
    margin-top: 15px;
  }

  .list-name {
    color: #7BC25C;
    border-radius: 8px;
    background-color: black;
    max-width: 300px;
    margin-right: 100px;
    margin-top: 20px;
    margin: auto;
    font-family: 'Girassol', cursive;

  }
  
